/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  transition: all linear 0.15s;
}


/* name and logo */
.site-name-logo {
  display: flex;
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
  background-color: #f0f0f0;
  padding: 10px 20px;
  color: black;
  font-size: 1.5em;
  /* sticky bar */
  position: fixed;
  top: 0;
  width: 100%;
  /* keep this on top of other elements so z index */
  z-index: 1000;
  cursor: pointer;
}

.site-logo {
  width: 50px;
  margin-right: 10px;
}



/* Navigation Bar Styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000080;
  padding: 10px;
  color: white;
  position: fixed;
  /* Make navbar fixed */
  top: 60px;
  /* Position it at the top */
  width: 100%;
  /* Full width */
  z-index: 999;
  /* Make sure it stays on top of other elements */
}

.gps-logo {
  width: 50px;
  height: 50px;
  margin-top: 10px;
  background-image: url("../images/gps-logo.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.msbte-logo {
  width: 50px;
  height: 50px;
  margin-top: 10px;
  background-image: url("../images/msbte-logo.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.menu {
  display: flex;
  list-style-type: none;
  align-items: center;
}

/* nav bar items */
.menu-item {
  position: relative;
  padding: 10px 20px;
  color: #F5BD02;
  cursor: pointer;
  margin-right: 20px;
  font-size: 1.2em;
  display: flex;
}


label {
  width:70px;
  height:28px;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 28px;
  box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
  cursor: pointer;
}


label:after {
  content: "";
  width:25px;
  height: 25px;
  position: absolute;
  top:1.5px;
  left:3px;
  background: linear-gradient(180deg,#F5BD02,#d8860b);
  border-radius: 25px;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}

input {
  width: 0;
  height: 0;
  visibility: hidden;
}

input:checked + label {
  background: #242424;
}
input:checked + label:after {
  left:68px;
  transform: translateX(-100%);
  background: linear-gradient(180deg,#777,#3a3a3a);
}
label, label:after {
  transition: 0.3s
}

label:active:after{ 
  width: 40px; 
}

label i {
  position: absolute;
  width: 20px;
  /* top: -386px; */
  z-index: 100;
}

label i.sun {
  left: 5px;
  fill: #fff;
  transition: 0.3s;
}

label i.moon {
  left: 45px;
  fill: #7e7e7e;
  transition: 0.3s;
}

label:checked +label i.sun {
  fill: #7e7e7e;
}

label:checked +label i.moon {
  fill: #fff;
}

.menu-item:hover {
  background-color: #f5bc0280;
}

.dnl:hover {
  background-color: transparent;
}

.menu-item:active {
  transform: translateY(2px);
}

/* Drop-down Menu Styling */
.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #000080;
  list-style-type: none;
  padding: 10px 0;
  min-width: 150px;
  z-index: 1;
}

.dropdown-item {
  padding: 10px 20px;
  color: #F5BD02;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f5bc0280;
}

/* Show Drop-down on Hover */
.menu-item:hover .dropdown {
  display: block;
}



/* horizontal box 75:25 % pixel */
.sec-body {
  display: flex;
  flex-grow: 1;
  margin-top: 130px;
  background-color: #f0f0f0;
  color: #0f0f0f;
  border-bottom: 1px solid #ccc;
}


.ver-box {
  display: flex;
  flex-direction: column;
  width: 75%;
  border-right: 1px #ccc solid;
  height: 100%;
}



/* header */
header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: max-content;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

.header-content {
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: underline;
}

.resource-title {
  padding: 10px 0;
}

/* right side box */
.ter-body {
  display: flex;
  flex-direction: column;
  width: 100%;
}


/* news box */
.news-box {
  width: 100%;
  height: 700px;
  padding: 20px;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
}

.news-box span {
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 20px;
  display: flex;
  align-content: center;
  justify-content: center;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.news-box a {
  display: block;
  margin-bottom: 10px;
  color: rgb(30, 30, 200);
  text-decoration: none;

}

.news-box a:hover {
  text-decoration: underline;
}



/* latest news title */
.latest-news {
  display: flex;
  border-bottom: 1px solid #ccc;
  flex-direction: row;
}

.news-title {
  display: flex;
  justify-content: center;
  width: 15%;
  height: 50px;
  align-self: center;
  padding: 5px 10px 5px 10px;
  background-color: #000080;
  color: #f0f0f0;

}

.news-title span {
  align-self: center;
  justify-self: center;
}

/* new-ticker */
.news-ticker {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  padding: 10px 0;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.news-item {
  display: inline-block;
  padding: 0 50px;
  line-height: 30px;
  animation: ticker 15s linear infinite;
}

.news-item a {
  color: rgb(30, 30, 200);
}

.news-item a:hover {
  text-decoration: underline;
}

.news-item a {
  text-decoration: none;
}

@keyframes ticker {
  0% {
    transform: translateX(300%);
  }

  100% {
    transform: translateX(-300%);
  }
}



/* department select title */
.select-title {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
  font-size: 1.4em;
  text-decoration: underline;
  font-weight: bolder;
}



/* department */
.department-box {
  margin-top: 25px;
  padding: 40px;
  width: 100%;
  height: 700px;
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  align-self: center;
  border-bottom: 1px #ccc solid;
}

.branch {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 250px;
  background-color: #000080;
  padding: 20px;
  border-radius: 8px;
  color: #F5BD02;
  justify-content: space-between;
  text-align: center;
  box-shadow: 2px 2px 5px #000080;
  cursor: pointer;
}

.branch:active {
  transform: translateY(2px);
}

.branch i {
  color: #f0f0f0;
  font-size: 2.5em;
  border-bottom: 1px #F5BD02 solid;
  padding: 5px;
}

.branch span {
  font-weight: bolder;
  font-size: 1.2em;
  padding: 5px;
}

.branch p {
  color: #c0c0c0;
  font-size: 1em;
  text-decoration: double;
  padding: 5px;
  border-bottom: #F5BD02 1px solid;
  margin-bottom: 10px;
}




/* cm k scheme */

.cm-k
{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  margin-top: 5px;
  padding: 20px;
}

.cm-k {
  align-items: center;
}

.cm-k span,
.cm-k p {
  font-size: 1.2em;
  text-decoration: underline;
  font-weight: bold;
  padding-bottom: 5px;
}

.ks {
  display: flex;
  width: 95%;
  justify-content: space-around;
  align-content: center;
}

.cm-k-s1,
.cm-k-s2 {
  margin-top: 20px;
  background-color: #000080;
  border-radius: 8px;
  width: 35%;
  height: 370px;
  max-height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cm-k-s1 span,
.cm-k-s2 span {
  font-size: 1.2em;
  display: flex;
  text-decoration: none;
  align-content: center;
  justify-content: center;
  border-bottom: 1px solid #F5BD02;
  padding: 10px;
  color: #F5BD02;
}

.cm-k-s1 a,
.cm-k-s2 a {
  text-decoration: none;
  font-size: large;
  padding: 8px;
  text-decoration: none;
}

.cm-k-s1 a:hover,
.cm-k-s2 a:hover {
  text-decoration: underline;
}





/* info box */
.material-info {
  margin-top: 25px;
  margin-bottom: 25px;
  border-top: 1px #ccc solid;
  padding: 40px;
  width: 100%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  justify-items: center;
  align-self: center;
}

.material {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 20px;
  justify-content: space-between;
  text-align: center;
}

.material span {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 1.2em;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}

.material p {
  padding: 10px;
  font-size: 1em;
  text-align: start;
}



/* social media links */
.media-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
  width: 100%;
  height: 50px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-top: 20px;
  margin-bottom: 20px;
}

.links-title {
  display: flex;
  background-color: #000080;
  color: #f0f0f0;
  height: 100%;
  width: 8%;
  align-content: center;
  justify-content: center;
  font-size: 1em;
}

.links-title span {
  align-self: center;
}

.link-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-grow: 1;
  padding: 10px;
}

.link-items a {
  text-decoration: none;
  color: #000080;
}

.link-items a:hover {
  text-decoration: underline;
}



/* footer */
footer {
  display: flex;
  width: 100%;
  min-height: 80px;
  background-color: #000080;
  color: #f0f0f0;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.3);
}

.credit-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 100%;
  padding: 10px;
  border-right: 1px solid #ccc;
}

.f-logo {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  padding: 5px;
}

.l {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px;
  border: 1px solid #f0f0f0;
  border-radius: 50%;
  align-self: center;
  justify-self: center;
  padding: 5px;
  cursor: pointer;
}

.f-logo1 {
  background-image: url("../images/dd-logo.svg");
}

.f-logo2 {
  background-image: url("../images/download.jpeg");

}

.f-logo3 {
  background-image: url("../images/gps\ \(1\).jpg");
}

.f-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 40%;
  height: 100%;
  padding: 10px;
}

.f-content a {
  text-decoration: none;
  color: #f0f0f0;
  cursor: pointer;
}

.f-content a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.f-content button {
  width: 70px;
  height: 30px;
  border: none;
  background-color: #F5BD02;
  color: #0f0f0f;
  border-radius: 5px;
  font-size: 0.9em;
  padding: 5px;
  cursor: pointer;
}

.f-content button:hover {
  background-color: #f5bc027d;
}

.f-content button:active {
  transform: translateY(2px);
}


.kbtn {
  margin-top: 5px;
  background-color: transparent;
  border: none;
  text-decoration: underline;
  font-size: 1.2em;
  cursor: pointer;
}

.kbtn:active {
  transform: translateY(2px);
}


/* yt links */

.yt-container {
  display: flex;
  width: 100%;
  height: 1000px;
  flex-direction: column;
  padding: 20px;
  margin: 20px auto;
  align-items: center;
  justify-content: space-between;
  border-bottom: #ccc 1px solid;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
}

.yt-container span {
  font-size: 1.2em;
  text-decoration: underline;
  padding: 10px;
  border-bottom: #ccc 1px solid;
  font-weight: bold;
  width: 100%;
  text-align: center;
  align-self: center;
}

.channel-list {
  display: flex;
  width: 100%;
  height: 92%;
  flex-direction: column;
  justify-content: space-between;
}

.channel {
  display: flex;
  align-items: center;
  padding: 8px;
}

.channel:hover {
  background-color: #80808085;
  cursor: pointer;
}

.channel:active {
  transform: translateY(2px);
}

.channel img {
  width: 45px;
  border-radius: 50%;
}

.channel p {
  padding: 8px;
  margin-left: 10px;
}
